<%- include ('partials/header.ejs') %> 



<p>parametre :<%=testParameter.toUpperCase()%> </p>
<%if(testParameter.toLowerCase()==="mersin"){%>
<p>mersin şehri çok güzeldir</p>
<h1>dfdndmd</h1>
<%}%>


<%- include ('partials/footer.ejs') %> 


